@import './base.css';
@import '/node_modules/flowbite-vue/dist/index.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /* font-family: 'plus-sans';
  src:
    url('@/assets/fonts/Plus_Jakarta_Sans') format('woff2'),
    url('@/assets/fonts/mitt-anpassade-typsnitt.woff') format('woff'); */

  font-family: 'quicksand';
  src: url('../assets/fonts/Plus_Jakarta_Sans\,Quicksand/') format('truetype');
}

@font-face {
  font-family: Quicksand;
  src: url(../../assets/fonts/Plus_Jakarta_Sans,Quicksand-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url('../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

.example-text {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-width: 900px;
  min-height: 900px;
  background-color: #faf2e9;

  /* background: url(../assets/longblue.png); */
  /* background-size: cover; */
  width: auto;
  /* background-color: #f5f5f5; */
  color: #2c3e50;

  font-weight: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
}

/* p {
  color: #f5f5f5;
} */

main {
  min-height: 900px;
  /* min-height: 1500px; */
  /* height: fit-content; */
}

/* html,
body {
  height: 100%;
  margin: 0;
} */

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

a,
.green {
  text-decoration: none;
  color: #232528;
  transition: 0.4s;
  /* padding: 3px; */
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  } */

/* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
/* } */
