@import './base.css';
@import '/node_modules/flowbite-vue/dist/index.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /* font-family: 'plus-sans';
  src:
    url('@/assets/fonts/Plus_Jakarta_Sans') format('woff2'),
    url('@/assets/fonts/mitt-anpassade-typsnitt.woff') format('woff'); */

  font-family: 'quicksand';
  src: url('../assets/fonts/Plus_Jakarta_Sans\,Quicksand/') format('truetype');
}

@font-face {
  font-family: Quicksand;
  src: url(../../assets/fonts/Plus_Jakarta_Sans,Quicksand-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url('../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Arial';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-width: 580px;
  /* background: linear-gradient(135deg, #f062d6, #e837b6); */
  /* margin: 0 auto; */
  background-color: #f5f5f5;
  /* background-color: #8bb8e2; */
  /* background: radial-gradient(#6a9fc2, #d9d9d9, #6a9fc2); */

  font-weight: normal;
}

main {
  /* min-height: 1500px; */
  height: fit-content;
}

/* html,
body {
  height: 100%;
  margin: 0;
} */

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

a,
.green {
  text-decoration: none;
  color: #232528;
  transition: 0.4s;
  /* padding: 3px; */
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  } */

/* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
/* } */
